@{
    Layout = null;
}

@Scripts.Render("~/bundles/payment-scheduled-transactions-js")

<div class="payment-scheduled-transaction" ng-controller="paymentScheduledTransactionController">
    <div class="box__container" ng-show="controller.isTransactionScheduled()">
        <div class="box__row">
            <div class="box__col--50">
                <label for="customerName">Total arrears to date = </label>
                <label class="warning-color">{{controller.getTotalArrearsToDate() | number:2}}</label>
            </div>
        </div>

        <div class="box__row form-item">
            <div class="box__col--50">
                <label for="customerName">Last payment done for = </label>
                <label class="warning-color">{{controller.getLastPaymentDate() | date:'dd/MM/yyyy'}}</label>
            </div>
        </div>
    </div>

    <div class="box__container">
        <div class="box__row">
            <div class="box__col--100 table__container">
                <table ng-show="controller.isTransactionScheduled()">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Amount Due</th>
                            <th>Amount Remaining</th>
                            <th>Arrears</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="transactionDue in controller.callerController.transactionDues">
                            <td>{{transactionDue.dueDate | date:'dd/MM/yyyy'}}</td>
                            <td>{{transactionDue.amountDue | number: 2}}</td>
                            <td>{{transactionDue.amountRemaining | number: 2}}</td>
                            <td>{{transactionDue.amountRemaining | number: 2}}</td>
                            <td><button ng-click="indexController.goToPaymentScreen(transactionDue,2)">Pay</button></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="bold">Total</td>
                            <td>{{controller.calculateTotalAmountDue() | number: 2}}</td>
                            <td>{{controller.calculateTotalAmountRemaining() | number: 2}}</td>
                            <td>{{controller.calculateTotalAmountRemaining() | number: 2}}</td>
                        </tr>
                    </tfoot>
                </table>

                <table ng-hide="controller.isTransactionScheduled()">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Payment ID</th>
                            <th>Payment Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="payment in controller.callerController.transaction.payments">
                            <td>{{payment.paymentDate | date:'dd/MM/yyyy'}}</td>
                            <td>{{payment.idPayment}}</td>
                            <td>{{payment.paymentDetails[0].paymentAmount | number: 2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--div class="box__col--100 table__container">
            <table tr-ng-grid="" items="controller.callerController.transactionDues"
                   class="hover table-bordered border-top-0 border-bottom-0 table-pos"
                   selected-items="controller.callerController.transactionDues"
                   selection-mode="SingleRow"
                   enable-filtering="false" on-data-required-delay="500"
                   current-page="controller.paging.pageIndex"
                   page-items="controller.paging.pageSize"
                   total-items="controller.paging.totalCount"
                   order-by="controller.paging.sortColumn"
                   order-by-reverse="controller.paging.sortByDesc"
                   on-data-required="controller.loadScheduledTransactions(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)">
                <thead>
                    <tr>
                        <th><div class="tr-ng-title">Date</div></th>
                        <th><div class="tr-ng-title">Amount Due</div></th>
                        <th><div class="tr-ng-title">Amount Remaining</div></th>
                        <th><div class="tr-ng-title">Arrears</div></th>
                        <th><div class="tr-ng-title">Action</div></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{gridItem.dueDate | date:'dd/MM/yyyy'}}</td>
                        <td>{{gridItem.amountDue | number: 2}}</td>
                        <td>{{gridItem.amountRemaining | number: 2}}</td>
                        <td>{{gridItem.amountRemaining | number: 2}}</td>
                        <td><button ng-click="controller.goToPaymentScreen(transactionDue,2)">Pay</button></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <span> {{(controller.paging.pageSize * controller.paging.currentPageIndex) - controller.paging.pageSize | number}} - {{(controller.paging.pageSize * controller.paging.currentPageIndex)| number }} displayed , {{controller.paging.pageCount | number}} in total</span>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div-->
    </div>
</div>
