@{
    ViewBag.Title = "View Customers - Islamic Relief Mauritius";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";

}

@Scripts.Render("~/bundles/administration-customer-admin-essentials-js")
@Scripts.Render("~/bundles/administration-customer-detail-js")


<main ng-controller="administrationCustomerListingController" ng-cloak class="main app__step--empty side-app custom-card">
    <div class="app__step">
    </div>

    <div class="app__main js-app-main administration-product-listing">
        <div class="box__container">
            <div class="box__row">
                <div class="box__col--40">
                    <h2>Customer</h2>
                </div>
            </div>
            <div class="box__row">
                <div class="box__col--50">
                    <input type="text" placeholder="" name="search" class="form-control underline" ng-model="controller.paging.search" ng-enter="controller.gridLoad()" ng-change="controller.gridLoad()">
                    <a class="app__button--search" ng-click="controller.gridLoad()">Search<img src="~/Content/images/Header-icons/2x/search-white2x.png" alt=""></a>
                </div>

                <span class="box__col--30"></span>

                <div class="box__col--20">
                    <div class="app__button--add" ng-click="controller.addEditItem(null,controller.baseController.modeEnums.ADD)">
                        <a><span><img src="~/Content/images/Actions/2x/ic_add_-2@2x.png" alt=""></span>Create New</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="box__container">
            <div class="box__row">
                <div class="box__col--100 table__container">
                    <table tr-ng-grid="" items="controller.customers"
                           class="hover table-bordered border-top-0 border-bottom-0 table-pos"
                           enable-filtering="false" on-data-required-delay="500"
                           current-page="controller.paging.pageIndex"
                           page-items="controller.paging.pageSize"
                           total-items="controller.paging.totalCount"
                           order-by="controller.paging.sortColumn"
                           order-by-reverse="controller.paging.sortByDesc"
                           on-data-required="controller.gridLoad(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)">
                        <thead>
                            <tr>
                                <th field-name="fullName" display-name="Description" enable-filtering="false">
                                </th>
                                <th>
                                    <div class="tr-ng-title">
                                        Actions
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="center">
                                        <div class="app__button" ng-click="controller.addEditItem(gridItem,controller.baseController.modeEnums.EDIT)">
                                            <a>Edit</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <span> {{(controller.paging.pageSize * controller.paging.currentPageIndex) - controller.paging.pageSize | number}} - {{(controller.paging.pageSize * controller.paging.currentPageIndex)| number }} displayed , {{controller.paging.pageCount | number}} in total</span>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="app__nav">
        <div class="app__nav-button-container app-pagination">
            <div class="table-pos-pagination dataTables_paginate paging_simple_numbers" id="example2_paginate">
                <ul uib-pagination
                    total-items="controller.paging.pageCount"
                    ng-model="controller.paging.currentPageIndex"
                    max-size="controller.paging.pageSize"
                    num-pages="numPages"
                    class="pagination"
                    boundary-links="true"
                    rotate="false"
                    ng-change="controller.gridLoad()"></ul>
            </div>
        </div> <toaster-container></toaster-container>
    </div>
</main>
