@{
    ViewBag.Title = "Create New Customer - Islamic Relief Mauritius";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";

    var id = ViewContext.RouteData.Values["id"] ?? -1;
    var mode = ViewContext.RouteData.Values["mode"] ?? 1;
    var subSection = ViewContext.RouteData.Values["subSection"] ?? true;

}

@Scripts.Render("~/bundles/administration-customer-admin-essentials-js")
@Scripts.Render("~/bundles/administration-customer-detail-js")
<main class="main app__step--empty select-transaction" ng-controller="administrationCustomerController" ng-init="controller.setInfo(@id,@mode)">

    <div class="app__main js-app-main">
        <form name="customerForm" novalidate>
            @{Html.RenderAction("AdministrationNewCustomer", "AdministrationCustomer", new { area = "Administration" });}
        </form>
    </div>

    <div class="app__nav">
        <div class="app__nav-button-container">
            <div class="app_nav-spacer"></div>
            <div class="app__button app__button--nav" ng-click="controller.screenModeManager.save()">
                <a>Save<span><img src="~/Content/images/Navigation/2x/ic_chevron_right_-5@2x.png" alt=""></span></a>
            </div>
        </div> <toaster-container></toaster-container>
    </div>
</main>

